fieldset{
    width: 700px;
    height: 300px;
 }
 .div{
     text-align: right;
    display: flex;
    color: skyblue;
    
 }
h2{
    color: dodgerblue;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 700px;
    height: 150px;
}
th,td{
    border: 1px solid black;
}
.th{
    background-color: rgb(243, 243, 21);
}
#tr1{
    background-color: rgb(238, 114, 25);
}
#div1{
    position: absolute;
    left: 500px;
}
#div2{
    text-align:left;
}